form{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

input, 
textarea{
    width: 90%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #13274F;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/* Media Queries for Medium device)*/
@media screen and (max-width: 1024px) { 
    .contact_title{
        margin-top: 4rem;
        text-align: center;
        margin-bottom: 2rem;
  }
   
}
/* Media Queries for small device)*/
@media screen and (max-width: 600px) { 
    .contact_title{
        margin-top: 38rem;
        text-align: center;
        margin-bottom: 2rem;
  }
    .container.contact__container{
    width: var(--container-width-sm);
  }
  
}